<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/layout.css">
    <link rel="icon" href="../img/Icono-a.ico" type="image/x-icon"> 
    <title>Boletin</title>
   
</head>
<body>
    <div class="sidebar">
        <h2  id="libertadores_titule">Libertadores</h2>
        <ul>
            <li><a href="Perfil.html">Perfil</a></li>
            <li><a href="estudiantes.html">Estudiantes</a></li>
            <li><a href="profesores.html">Profesores</a></li>
            <li><a href="cursos.html">Cursos</a></li>
            <li><a href="boletin.html">Boletin</a></li>
        </ul>
    </div>

   
</body>
</html>
