<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Calificaciones</title>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>
    <h1>Calificaciones de la Materia</h1>
    <table id="tabla-calificaciones">
        <thead>
            <tr>
                <th>Estudiante</th>
                <th>Correo</th>
                <th>Periodo 1</th>
                <th>Periodo 2</th>
                <th>Periodo 3</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody id="ListaestudiantesCalificaciones">
            <!-- Los estudiantes se cargarán aquí -->
        </tbody>
    </table>
    <button id="guardar-calificaciones">Guardar Calificaciones</button>
    <script src="../js/calificaciones.js"></script>
</body>
</html>
