<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestor de Cursos</title>

    <link rel="stylesheet" href="../css/cursos.css">
    <link rel="stylesheet" href="../css/layout.css">   
    <link rel="icon" href="../img/Icono-a.ico" type="image/x-icon"> 
   
</head>
<body>

    <!-- Barra lateral fija -->
    <div class="sidebar">
        <h2  id="libertadores_titule">Libertadores</h2>
        <ul>
            <li><a href="perfil.html">Perfil</a></li>
            <li><a href="estudiantes.html">Estudiantes</a></li>
            <li><a href="profesores.html">Profesores</a></li>
            <li><a href="cursos.html">Cursos</a></li>
            <li><a href="boletin.html">Boletin</a></li>
        </ul>
    </div>

    <!-- Contenido principal -->
    <div id="sectioncurses">
        <h1 id="titule_curses">Cursos</h1>
        <div class="cursos-list" >
            <ul>
                <li><a href="cursos_views/sexto.html">Sexto</a></li>
                <li><a href="cursos_views/septimo.html">Séptimo</a></li>
                <li><a href="cursos_views/octavo.html">Octavo</a></li>
                <li><a href="cursos_views/noveno.html">Noveno</a></li>
                <li><a href="cursos_views/decimo.html">Décimo</a></li>
                <li><a href="cursos_views/undecimo.html">Undécimo</a></li>
            </ul>
        </div>
    <h2>Agregar Estudiante a Curso</h2>
    <form id="formAgregarEstudiante">
        <input type="email" id="emailEstudiante" placeholder="Email del estudiante" required />
        <select id="cursoSelect">
            <option value="1">Sexto</option>
            <option value="2">Séptimo</option>
            <option value="3">Octavo</option>
            <option value="4">Noveno</option>
            <option value="5">Decimo</option>
            <option value="6">Undecimo</option>
        </select>
        <button type="submit">Agregar Estudiante</button>
    </form>
        

    </div>
   
    <script src="../js/asignarCursosEstudiantes.js" defer></script> <!-- Sin uso actual-->   
</body>
</html>
