<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/layout.css">
    <link rel="stylesheet" href="../css/estudiantes.css">
    <link rel="icon" href="../img/Icono-a.ico" type="image/x-icon"> 
    <title>Gestor de Calificaciones - Estudiantes</title>
   
</head>
<body>
    <div class="sidebar">
        <h2  id="libertadores_titule">Libertadores</h2>
        <ul>
            <li><a href="Perfil.html">Perfil</a></li>
            <li><a href="estudiantes.html">Estudiantes</a></li>
            <li><a href="profesores.html">Profesores</a></li>
            <li><a href="cursos.html">Cursos</a></li>
            <li><a href="boletin.html">Boletin</a></li>
        </ul>
    </div>

    <div class="main-content">
        <h2>Lista de Estudiantes</h2>
        <table class="table-minimalist">
            <thead>
                <tr>
                    <th>Nombre Completo</th>
                    <th>Email</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody id="listaEstudiantes"></tbody>
        </table>
        <div class="form-layout">
            <h2>Agregar Nuevo Estudiante</h2>
            <form id="formAgregarEstudiante" class="form-agregar">
                <div class="form-group">
                    <label for="nombreCompleto">Nombre completo</label>
                    <input type="text" id="nombreCompleto" placeholder="Nombre completo" required />
                </div>
                <div class="form-group">
                    <label for="email">Correo</label>
                    <input type="email" id="email" placeholder="Correo" required />
                </div>
                <div class="form-group">
                    <label for="contraseña">Contraseña</label>
                    <input type="password" id="contraseña" placeholder="Contraseña" required />
                </div>
                <button type="submit" class="btn-primary">Agregar Estudiante</button>
            </form>
        </div>
        
    </div>
    

    <script src="../js/estudiantes.js" defer></script>
</body>
</html>
