<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestor de Calificaciones - Profesores</title>
    <link rel="stylesheet" href="../css/layout.css">
    <link rel="stylesheet" href="../css/profesores.css">
    <link rel="icon" href="../img/Icono-a.ico" type="image/x-icon"> 
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  
   

    

</head>
<body>
    <div class="sidebar">
        <h2 id="libertadores_titule">Libertadores</h2>
        <ul>
            <li><a href="perfil.html">Perfil</a></li>
            <li><a href="estudiantes.html">Estudiantes</a></li>
            <li><a href="profesores.html">Profesores</a></li>
            <li><a href="cursos.html">Cursos</a></li>
            <li><a href="boletin.html">Boletin</a></li>
        </ul>
    </div>

    <div class="main-content">

        <h1>Profesores</h1>
        <ul id="profesoresList"></ul>   
        <!-- Lista de profesores -->
        <div id="profesores-container">
            
            <table class= "table" >
                <thead>
                    <tr id="info_table">
                        <th class= "titule_table">Nombre</th>
                        <th class= "titule_table">Correo</th>
                        <th class= "titule_table">Celular</th>
                        <th class= "titule_table">Materias</th>
                    </tr>
                </thead>
                <tbody id="profesoresTableBody"></tbody>
            </table>
        </div>
        
         <!-- Botón para abrir el modal de agregar profesor -->
         <button id="btnAbrirModal">Agregar Profesor</button>
    
         <!-- Modal para agregar profesor -->
        <div id="modalAgregarProfesor" class="modal" style="display: none;">
            <div class="modal-content">
                <span class="close" id="btnCerrarModal">&times;</span>
                <h2>Agregar Profesor</h2>
                <form id="formAgregarProfesor">
                    <label for="nombre">Nombre Completo:</label>
                    <input type="text" id="nombre" name="nombre" required>

                    <label for="email">Correo Electrónico:</label>
                    <input type="email" id="email" name="email" required>

                    <label for="celular">Número de Celular:</label>
                    <input type="tel" id="celular" name="celular" required>

                    <button type="submit">Guardar</button>
                </form>
            </div>
        </div>

        <div class="formularios-container">
            <div class="formulario">
                <h2>Asignar Materias a Profesores</h2>
                <form id="asignarMateriaForm">
                    <label for="profesorSelect"></label>
                    <select id="profesorSelect">
                        <option value="" disabled selected>Selecciona un profesor</option>
                    </select>
                
                    <label for="cursoSelect"></label>
                    <select id="cursoSelect">
                        <option value="" disabled selected>Selecciona un curso</option>
                    </select>
                
                    <label for="materiaSelect"></label>
                    <select id="materiaSelect" disabled>
                        <option value="" disabled selected>Selecciona una materia</option>
                    </select>
                
                    <button type="submit">Asignar Materia</button>
                </form>
            </div>
        
            <div class="formulario">
                <h2>Eliminar profesor</h2>
                <form id="eliminarProfesorForm">
                    <label for="profesorEliminarSelect"></label>
                    <select id="profesorEliminarSelect"></select>
                
                    <button type="submit">Eliminar Profesor</button>
                </form>
            </div>
        </div>

        
        

    </div>
     
    <script src="../js/asignarMaterias.js"></script>
    <script src="../js/profesores.js" defer></script>
</body>
</html>
