
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Ajuste para la sección del perfil */
#perfilSection {
    margin-left: 290px; 
    padding: 20px;
}

#perfilSection h1 {
    color: var(--Color-Text, #303972);
    letter-spacing: 1px;
    font-family: Poppins;
    font-size: 44px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}


/* Ajuste de estilo para la barra lateral */
#CalendarioSection {
    margin-top: 350px;
    margin-left: 290px; 
    padding: 20px;
    width: 1007px;
    height: 403.994px;
    flex-shrink: 0; 
}

.img{
    width: 950px;
}

/*  Calendario  */
  .calendar {
    width: 100%;
    max-width: 800px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin-left: 290px;
    margin-top: 90px;
    text-align: center;
  }
  
  .calendar h2 {
    margin: 0;
    font-size: 1.5em;
  }
  
  .calendar .month {
    font-size: 1em;
    color: #888;
    margin-top: 5px;
  }
  
  .calendar table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
  }
  
  .calendar th {
    color: #888;
    padding: 10px 0;
  }
  
  .calendar td {
    padding: 15px;
    text-align: center;
    font-weight: bold;
    border-radius: 50%;
  }
  
  .calendar td.empty {
    background-color: transparent;
  }
  
  .calendar td {
    color: #555;
  }
  
  .salir {
    display: inline-block; /* Hace que el enlace solo ocupe el espacio de su contenido */
    padding: 10px 20px;/* Espaciado interno */
    background-color: #148F77; /* Color de fondo */
    color: white; /* Color del texto */
    text-decoration: none; /* Elimina el subrayado */
    border-radius: 5px; /* Bordes redondeados */
    font-weight: bold; /* Texto en negrita */
    text-align: center; /* Centra el texto */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra para el botón */
  }

  .salir:hover {
    background-color: #1b6e5e;  /* Cambia el color al pasar el cursor */
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2); /* Aumenta la sombra */
}
/* Noticias */
.news {
  width: 100%;
  max-width: 800px;
  margin: 30px auto;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-left: 290px;
}

.news h2 {
  margin-bottom: 15px;
  font-size: 1.5em;
  color: #303972;
}

.news ul {
  list-style-type: none;
  padding: 0;
}

.news li {
  margin-bottom: 10px;
  font-size: 1.1em;
  color: #555;
}

.news li strong {
  color: #303972;
}

.Rol {
 color: #148F77;
}

